%h1 Welcome to admin control panel
%ul
  %li
    = link_to "Dash", admin_path, :class => 'disabled'
  %li
    = link_to "Orders", admin_orders_path
  %li
    = link_to "Clients", admin_users_path
  %li
    = link_to "Categories", admin_categories_path
  %li
    = link_to "Products", admin_products_path
  %li
    = link_to "Coupons", '#', :class => 'disabled'
  %li
    = link_to "Delivery Options", '#', :class => 'disabled'
  %li
    = link_to "Overall information", '#', :class => 'disabled'