%h2
  = @contacts.name.to_s + ' contacts:'
%br
Adress:
= @contacts.adress
%br
Phone:
= @contacts.phone
%br
E-mail:
= @contacts.email
%hr
Company name:
= @contacts.company_name
%br
Registration Nr:
= @contacts.company_reg_nr
%br
VAT Nr.:
= @contacts.company_vat_nr
%br
Bank account:
= @contacts.bank
%br
We are working:
= @contacts.time_table
%br
Description:
= @contacts.description